body {
	margin: 0;
	font-family: 'Roboto', sans-serif;

	--background-color: #FAFAFA;
	--color: #000;
	--icon-filter: none;

	background-color: var(--background-color);
	color: var(--color);
}
body.dark {
	--background-color: #555;
	--color: #FFF;
	--icon-filter: invert(1);
}
body.dialog {
	overflow: hidden;
}

nav {
	height: 50px;
	border-bottom: 2px solid var(--color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background-color: var(--background-color);
	z-index: 500;
}
nav h1 {
	font-size: 26px;
	margin: 0;
	font-weight: 500;
	font-family: 'Rubik', sans-serif;
	padding: 0 16px;
}
nav #you {
	position: relative;
	cursor: pointer;
	height: 50px;
}
nav #you:after {
	content: '';
	height: 50px;
	width: 24px;
	position: absolute;
	top: 0;
	right: 16px;
	background-image: url('menu.svg');
	background-position: center;
	background-size: 24px;
	background-repeat: no-repeat;
	filter: var(--icon-filter);
	transition: transform .15s;
}
nav #you.open:after {
	transform: rotateX(180deg);
}
nav #you img {
	height: 40px;
	width: 40px;
	padding: 5px;
	margin-right: 40px;
	border-radius: 1000px;
}
nav #you #menu {
	position: absolute;
	top: calc(100% + 5px);
	right: 16px;
	background-color: var(--background-color);
	border-radius: 5px;
	box-sizing: border-box;
	padding: 10px 0;
	box-shadow: 0 2px 5px 1px rgba(0,0,0,.4);
	transform: translateY(-10px);
	opacity: 0;
	pointer-events: none;
	transition: opacity .15s, transform .15s;
	z-index: 100;
}
nav #you.open #menu {
	transform: translateY(0);
	opacity: 1;
	pointer-events: all;
}
nav #menu a {
	text-decoration: none;
	color: var(--color);
	display: block;
	padding: 10px 14px;
	white-space: nowrap;
	transition: background-color .15s;
}
nav #menu a:hover {
	background-color: rgba(0,0,0,.1);
}


main {
	margin: 20px 20px 110px;
}
.timer {
	background-color: rgba(0,0,0,.1);
	border-radius: 10px;
	box-sizing: border-box;
	padding: 20px;
	border-top: 8px solid var(--timer-color, rgba(0,0,0,.3));
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}
.red { --timer-color: #f44336 }
.pink { --timer-color: #e91e63 }
.purple { --timer-color: #9c27b0 }
.deep_purple { --timer-color: #673ab7 }
.indigo { --timer-color: #3f51b5 }
.blue { --timer-color: #2196f3 }
.light_blue { --timer-color: #03a9f4 }
.cyan { --timer-color: #00bcd4 }
.teal { --timer-color: #009688 }
.green { --timer-color: #4caf50 }
.light_green { --timer-color: #8bc34a }
.lime { --timer-color: #cddc39 }
.yellow { --timer-color: #ffeb3b }
.amber { --timer-color: #ffc107 }
.orange { --timer-color: #ff9800 }
.deep_orange { --timer-color: #ff5722 }
.brown { --timer-color: #795548 }
.blue_gray { --timer-color: #607d8b }
.timer .counters {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.timer .counters div {
	flex: 1;
	text-align: center;
	padding: 10px;
}
.timer .counters div span {
	display: block;
}
.timer .number {
	font-size: 30px;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
}
.timer .label {
	font-size: 14px;
}
.timer .title {
	display: block;
	text-align: center;
	font-size: 20px;
	padding-top: 20px;
}

.timer .menu {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 30px;
	width: 30px;
	cursor: pointer;
}
.timer .menu:after {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('menu.svg');
	background-position: center;
	background-size: 24px;
	background-repeat: no-repeat;
	filter: var(--icon-filter);
	transition: transform .15s;
}
.timer .menu.open:after {
	transform: rotateX(180deg);
}
.timer .menu > div {
	position: absolute;
	top: calc(100% + 5px);
	right: 0;
	background-color: var(--background-color);
	border-radius: 5px;
	box-sizing: border-box;
	padding: 8px 0;
	box-shadow: 0 2px 5px 1px rgba(0,0,0,.4);
	transform: translateY(-10px);
	opacity: 0;
	pointer-events: none;
	transition: opacity .15s, transform .15s;
	z-index: 200;
}
.timer .menu.open > div {
	transform: translateY(0);
	opacity: 1;
	pointer-events: all;
}
.timer .menu > div a {
	text-decoration: none;
	color: var(--color);
	display: block;
	padding: 8px 14px;
	white-space: nowrap;
	transition: background-color .15s;
}
.timer .menu > div a:hover {
	background-color: rgba(0,0,0,.1);
}

.confetti {
	display: block;
	z-index: 100;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0 0 10px 10px;
}


#new_timer {
	display: block;
	height: 70px;
	width: 70px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: var(--background-color);
	border: 2px solid var(--color);
	border-radius: 1000px;
	box-sizing: border-box;
	z-index: 200;
}
#new_timer:after {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('new.svg');
	background-position: center;
	background-size: 36px;
	background-repeat: no-repeat;
	filter: var(--icon-filter);
}


#login {
	width: 300px;
	margin: 30vh auto;
}
#login h1 {
	text-align: center;
	font-family: 'Rubik', sans-serif;
	font-size: 30px;
	font-weight: 500;
	margin: 0 0 20px;
}
#login #login_button {
	margin: 20px 0;
	display: flex;
	justify-content: center;
}


#new_dialog {
	position: fixed;
	top: 52px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--background-color);
	box-sizing: border-box;
	padding: 30px 40px;
	overflow-y: auto;
	opacity: 0;
	pointer-events: none;
	transform: translateY(20px);
	transition: opacity .2s, transform .2s;
	z-index: 300;
}
body.dialog #new_dialog {
	opacity: 1;
	pointer-events: all;
	transform: translateY(0);
}
#new_dialog .title {
	font-size: 26px;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	text-align: center;
	display: block;
	padding: 0 0 20px;
}
#new_dialog label {
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1.5px;
	padding: 20px 0 5px;
}
#new_dialog div {
	display: flex;
	justify-content: flex-end;
}
#new_dialog .spacer {
	display: block;
	width: 10px;
}
#new_dialog input,
#new_dialog select {
	border: 2px solid var(--color);
	background: none;
	font-family: inherit;
	color: inherit;
	font-size: 18px;
	padding: 12px 14px;
	flex: 1;
}
#new_dialog input:focus {
	outline: none;
	box-shadow: inset 0 -4px 0 0 rgba(0,0,0,.4);
}
#new_dialog select:focus {
	outline: none;
	box-shadow: inset 0 -4px 0 0 var(--timer-color, rgba(0,0,0,.4));
}
#new_dialog button {
	border: 2px solid var(--color);
	background: none;
	font-family: inherit;
	color: inherit;
	font-size: 18px;
	padding: 12px 14px;
	margin: 30px 0 0;
	cursor: pointer;
}
#new_dialog #add_new {
	box-shadow: inset 0 -4px 0 0 #4caf50;
}
#new_dialog #cancel {
	box-shadow: inset 0 -4px 0 0 #f44336;
}

#empty {
	text-align: center;
}
#empty img {
	height: 200px;
	width: 200px;
	object-fit: contain;
}
#empty span {
	display: block;
}
#empty a {
	color: #1976d2;
}


#loader {
	text-align: center;
	margin: 100px 0;
}
